@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600&display=swap');

body {
  background-color: #F5F7FB
}

.answers-container {
  display: flex
}

button {
  margin: 8px;
}
